.about{
    /* height:calc(100vh-4rem); */
    height: calc(100vh - 4rem);
    width: 100%;
    max-width:65rem;
    margin: 0 auto;
    /* padding-top:2rem; */
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: rgb(253,253,253);
}
.aboutMe{
    font-size: 0.7rem;
}
h2{
    padding-left: 5px;
    margin-bottom: 20px;
    border-left: 3px solid blueviolet;
    /* margin-bottom: 20px;  */
}
.aboutDesc{
    user-select: none;
}
.profile{
    width:250px;
    height:320px;
    border: 5px;
    /* margin-left:23%; */
}
.aboutMe{
    font-size: 0.7rem;
}
h2{
    padding-left: 5px;
    margin-bottom: 20px;
    border-left: 3px solid blueviolet;
    /* margin-bottom: 20px;  */
}
.aboutDesc{
    user-select: none;
}
.profile{
    width:300px;
    height:300px;
    border: 5px;
    margin-left:23%;
}
