.intro{
    height: calc(100vh - 4rem);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

}
.introDetails{
    margin-top: 25px;
    max-width: 600px;
    text-align: center;

}
.hello,.introName{
    font-size:3 rem;
    font-weight:700;
}
.introDesc{
    /* font-weight:300; */
    font-size:0.7rem;
    color:rgb(50,50,50);
}
.imgIntro{
    width:150px;
    height:150px;
    overflow:hidden;
    border-radius: 50%;
}
 .myImage{ 
   width:100%;
   height:auto;

}
