.Portfolio{
    height:calc(100vh - 4rem);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 65rem;
    padding:1rem 2.5rem;
    margin: 4.5rem auto;
    /* padding-bottom: 30px; */
}
.displayWorks{
    display:flex;
   
}
.subTitle{
    margin-bottom: 1rem;
}

.slick-next:before, .slick-prev:before {
    color: rgb(138, 57, 158) !important; /* Change 'red' to your desired color */
}
.slick-next > div{
    margin: 0 10px;
}
