.nav{
    position:absolute;
    top:0;
    height:4rem;
    /* background-color: rgb(30,30,30); */
    background-color: white;
    color:blueviolet;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-right:80px; 
    padding-left:80px; 
    /* border-bottom:2px solid blueviolet; */
    box-shadow: 0 4px 8px rgba(126, 14, 107, 0.1);
    z-index: 1;
    
}
.logo{
    font-size:2rem;
    font-weight:600;
}
.nameLogo{
    color:blueviolet;
}
ul{
    display:flex;
    justify-content: space-between;
    /* text-decoration: none; */
}
ul li{
    list-style:none;
    cursor:pointer;
    text-align: center;
}
.navName:hover{
    color:blueviolet;
}
