.nav{
    position:absolute;
    top:0;
    height:4rem;
    width: 100%;
    background-color: white;
    color:blueviolet;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-right:50px; 
    padding-left:50px; 
    box-shadow: 0 4px 8px rgba(126, 14, 107, 0.1);
    z-index: 1;
    
}
.logo{
    font-size:1.8rem;
    font-weight:600;
}
.nameLogo{
    color:blueviolet;
}
ul{
    display:flex;
    justify-content: center;
    padding:25px 10px;
    /* margin:0 10px; */
    /* text-decoration: none; */
}
ul li{
    list-style:none;
    cursor:pointer;
    text-align: center;
}
.navName:hover{
    color:blueviolet;
}
.imgMenu{
    width:25px;
    height:25px;
    display:none;
}
.menuBar {
    position: absolute;
    top: 4rem;
    right: 4rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: white; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(126, 14, 107, 0.1);
    width:25rem;
    height:fit-content;
    min-width: 15rem;
   display:none;
}

.navMenuLinks{
    cursor:pointer;
    text-align: center;
    padding: 0.5rem 3rem; 
    margin: 0.25rem;
    transition: all 0.3s ease; 
}
.navMenuLinks:hover {
    color: blueviolet; 

}
@media screen and (max-width:768px){
    .deskTopMenu{
        display: none;
    }  
    .imgMenu{
        display:flex;
    }
    .menuBar{
        display:flex;
    
    }
}

@media screen and (max-width:850px){
    .logo{
        font-size:1.6rem;
        font-weight:600;
    }
    ul li{
        font-size: 0.9rem;
    }
}